.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.birthday-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  margin-bottom: 4px;
  font-size: 1.6rem;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  align-items: center;
  width: 120px;
  height: 44px;
  background-color: #1618230f;

  &:hover {
    cursor: pointer;
  }
}

.title {
  color: #16182357;
  font-size: 1.6rem;
}

.dropdown-icon {
  font-size: 2rem;
}

.dropdown-wrapper {
  width: 120px;
  max-height: 200px;
  overflow-y: overlay;

  .dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 0 12px;
    height: 34px;

    &:hover {
      cursor: pointer;
      background-color: #16182308;
    }
  }
}

.description {
  color: #16182380;
  line-height: 20px;
  font-size: 1.4rem;
  margin-bottom: 16px;
}
