.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-family), sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  width: 100%;
  white-space: nowrap;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.active {
  color: red;
}
.primary {
  background-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      #fe2c55;
  }

  span {
    color: var(--white);
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;
  background-color: #ffffff;

  &:hover {
    background-color: #fe2c550f;
  }
}

.small {
  width: 88px;
  height: 28px;
  padding: 4px 16px;
}

.large {
  min-width: 140px;
  padding: 14px 16px;
}

.disabled {
  cursor: none;
}

.rounded {
  border-radius: 52px;
}

.center {
  display: flex;
  justify-content: center;
}

.icon {
  width: 20px;
  margin-right: 8px;
  text-align: center;
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.title {
  display: flex;
}
