@import "normalize.css";

:root {
  --primary: #fe2c55;
  --secondary-color: #161823bf;
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --black: #000;
  --white: #fff;
  --text-color: #333;
  --font-family: "ProximaNova", sans-serif;
  --sidebar-width: 348px;
  --item-border-bottom: 1px solid #f0f0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
// Fonts

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/Proxima-Nova-Bold.woff");
}
@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/Proxima-Nova-Regular.woff2");
}
@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNova-Semibold.woff2");
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  overflow-y: overlay;
  overscroll-behavior: contain;
  text-rendering: optimizeSpeed;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

//Sidebar
