.wrapper {
  padding: 16px 0;
  border-bottom: var(--item-border-bottom);
}

.title,
.see-more-btn {
  margin: 0 8px;
  padding: 8px 0;
}

.title {
  color: var(--secondary-color);
  font-size: 1.4rem;
}

.see-more-btn {
  color: var(--primary);
  cursor: pointer;
}
