.wrapper {
  padding: 16px 0;
  font-size: 1.4rem;
  border-bottom: var(--sidebar-children-border-bottom);
}

.title {
  padding: 0 8px;
  margin-bottom: 8px;
}

.description {
  padding: 0 8px;
  color: #16182380;
}
