.menu-list {
  .menu-popper {
    padding: 8px 0;
    min-width: 233px;

    .menu-body {
      max-height: 400px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }

    .menu-item {
      font-weight: 600;

      &:hover {
        background-color: #16182308;
      }
    }

    .seperate {
      border-top: 1px solid #1618231f;
    }
  }
}

//Scrollbar

html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.header {
  position: relative;
  height: 40px;
  white-space: nowrap;
  cursor: pointer;

  .back-btn {
    height: 100%;
    position: absolute;
    left: 0;
    margin-left: 28px;
    cursor: pointer;
  }

  .header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
