.search,
.search-result {
  width: 361px;
}

.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #16182380;
}

.search {
  height: 46px;
  padding-left: 16px;
  border-radius: var(--search-border-radius);
  background: #1618230f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  position: relative;

  input {
    flex: 1;
    background-color: transparent;
    height: 100%;
    color: var(--black);

    &::placeholder {
      opacity: 0.7;
    }

    // khi placeholder ko hiện sẽ tô icon search đậm lên
    &:not(:placeholder-shown) ~ .search-button {
      color: rgba(22, 24, 35, 0.75);
    }
  }

  .spliter {
    width: 1px;
    height: 28px;
    background: #1618231f;
  }

  .clear,
  .spinner {
    position: absolute;
    right: 60px;
    opacity: 0.7;
    cursor: pointer;
    padding: 4px;
  }

  .spinner {
    animation: spinner 1s linear infinite; //linear : Play an animation with the same speed from beginning to end:
  }

  @keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .search-button {
    width: 52px;
    height: 100%;
    padding: 0 12px;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
      cursor: pointer;
      background-color: #16182308;
    }

    &:active {
      background-color: #1618230f;
    }
  }

  &:focus-within {
    border-color: #08090c0f;
  }
}
