.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  background-color: var(--white);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  --search-border-radius: 92px;
  --header-button-height: 36px;
  position: fixed;
  top: 0;

  .inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // right container
    .right-container {
      display: flex;
      align-items: center;
      gap: 30px;
      width: fit-content;

      .more-btn {
        padding: 9px 18px;
        background-color: transparent;
        font-size: 2rem;
        cursor: pointer;
      }
    }

    .inbox {
      position: relative;
      .inbox-number {
        position: absolute;
        top: -50%;
        right: -100%;
        background-color: red;
        border-radius: 40%;
        padding: 1px 6px;
        font-size: 1.2rem;
        color: var(--white);
      }
    }

    .user-avatar {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
